@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  background-image: url(../img/Background-trabalho2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; /* Ajuste este valor conforme necessário */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.cabecalho {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nome-restaurante {
  font-size: 300%;
  font-family: 'Mr Dafoe', cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.5em;
}

.slogan {
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.3em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.menu-aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  top: 10vh; /* 10% da altura da viewport */
  left: 0;
  width: 30vw; /* 20% da largura da viewport */
  padding-top: 2vh; /* 2% da altura da viewport */
  padding-left: 3vw; /* 3% da largura da viewport */
  flex-grow: 1;
}
.menu-nav button{
  margin-top:3%;
}
.img-rato{
  border-radius: 100%;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.cardapio-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

.cardapio-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height:max-content;
  flex-grow: 1;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-selecionado {
  font-size:large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  flex-grow: 1;
}

.estrelas {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.estrelas span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.estrelas span::before {
  content: "\2605";
  position: absolute;
}
.estrelas span:hover::before,
.estrelas span:hover ~ span::before {
  color: gold;
}



h1, h2, h3, h4, h5, p {
  margin-bottom: 0;
}

.menu-selecionado{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
}
.card{
  background-color: #ffffff33;
}   
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-igredientes ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card-igredientes li {
  flex: 0 0 auto;
  margin: 0.25em;
}

.card-price {
  display: flex;
  color: black;
  font-weight: bold;
  align-items: center;
  justify-content: end;
  
}
#valor{
  color: green;
  font-weight: bold;
}

.titulo_e_preco{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: row;

}
.rodape {
  height:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#nota-rodape {
  font-size: 100%;
  font-family: 'monospace';
  color:#870A28;
}

.redes-sociais {
  display: flex;
  
  justify-content: flex-end;
  /* padding-top: 2vh; 2% da altura da viewport */
}

.redes-sociais ul {
  padding-right: 20%;
  height: 0.5rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.redes-sociais ul li {
  margin-left: 10px; /* Adicione espaço entre os ícones */
}

